python-dotenv~=1.0.0
scikit-learn
pandas~=2.0.3
fastapi~=0.100.1
uvicorn
pytest
jupyter_contrib_nbextensions
pymysql
sqlalchemy~=2.0.19
yaml
pydantic~=2.1.1
PyYAML~=5.4.1
Flask~=2.3.2
matplotlib
seaborn